html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}
header, ul, p {
    margin: 0;
    padding: 0;
}

main {
    margin: center;
}

h1 {
    text-align: center;
}

footer .label {
    display: grid;
    grid-template-columns: repeat(5, 200px);
    font-size: 16px;
    font-family: sans-serif;
    width: 1206px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    justify-content: space-evenly;
}

.group-info {
    margin-top: 30px;
    margin-bottom: 10px;
    width: 1206px;
    margin-left: 50px;
    font-weight: 400;
}

.group-list {
    display: flex;
    list-style: none;
    width: 1206px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    justify-content:space-around;
    background-color:rgba(211, 211, 211, 0.2);
    border-radius: 5px;
    font-size: 14px;
}

#period {
    margin: 22.5px 20px;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    border: solid 1px rgb(211, 211, 211);
    border-radius: 50%;
    background-color:rgba(211, 211, 211, 0.5);

}

span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.container {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    overflow-x: auto;
}

.periodo {
    display: grid;
    grid-template-columns: repeat(19, 65px);
    grid-column-gap: 2px;
    margin: 2px 0 2px 0;
    justify-content: center;
}

.element {
    border: solid 2px;
    border-radius: 2px;
    height: 70px;
}

.span1{
    grid-column: span 1;
}

.span4 {
    grid-column: span 4;
}

.span16 {
    grid-column: span 16;
}

.span10 {
    grid-column: span 10;
}

.atomic-number {
    font-size: 12px;
    margin: 0;
    padding: 0;
    text-align: left;
}

.symbol {
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}

.name {
    text-align: center;
    font-size: 12px;
    font-weight: 400;
}

.mass-number {
    margin: 0;
    padding: 0;
    font-size: 10px;
    text-align: center;
}

.serie {
    font-size: 12px;
    font-weight: 600;
    text-align: center;
}

.number-to-number {
    font-size: 12px;
    margin-top: 20px;
    text-align: center;
}

#alkali-metals {
    border-color: rgb(189, 42, 51);
    background-color: rgb(189, 42, 51, 0.5);
}

#alkaline-earth-metals {
    border-color: rgb(214, 170, 38);
    background-color: rgba(214, 170, 38, 0.5);
}

#reactive-nonmetal {
    border-color: rgb(147, 163, 28);
    background-color: rgb(147, 163, 28, 0.5);
}

#noble-gas {
    border-color: rgb(27, 47, 111);
    background-color: rgba(27, 47, 111, 0.5);
}

#transition-metal {
    border-color: rgb(245, 134, 105);
    background-color: rgb(245, 134, 105, 0.5);
}
#post-transition-metals {
    border-color: rgb(64, 129, 86) ;
    background-color: rgb(64, 129, 86, 0.5);
}

#semimetal {
    border-color:rgb(95, 158, 160);
    background-color: rgb(95, 158, 160, 0.5);
}

#unknown {
    border-color: rgb(211, 211, 211);
    background-color:  rgb(211, 211, 211, 0.5);
}
#lanthanide {
    margin-top: 50px;
    border-color: aquamarine;
    background-color: rgba(127, 255, 212, 0.5);
}

#actinide {
    border-color:rgb(91, 38, 231);
    background-color: rgba(91, 38, 231, 0.5);
}

#ma {
    border: solid;
    border-radius: 5px;
    border-color: rgb(189, 42, 51);
    background-color: rgb(189, 42, 51, 0.5);
    text-align: center;
}
#mat {
    border: solid;
    border-radius: 5px;
    border-color: rgb(214, 170, 38);
    background-color: rgba(214, 170, 38, 0.5);
    text-align: center;
}
#mt {
    border: solid;
    border-radius: 5px;
    border-color: rgb(245, 134, 105);
    background-color: rgb(245, 134, 105, 0.5);
    text-align: center;
}
#mpt{
    border: solid;
    border-radius: 5px;
    border-color: rgb(64, 129, 86) ;
    background-color: rgb(64, 129, 86, 0.5);
    text-align: center;
}
#m {
    border: solid;
    border-radius: 5px;
    border-color:rgb(95, 158, 160);
    background-color: rgb(95, 158, 160, 0.5);
    text-align: center;
}
#l {
    border: solid;
    border-radius: 5px;
    border-color: aquamarine;
    background-color: rgba(127, 255, 212, 0.5);
    text-align: center;
}
#a {
    border: solid;
    border-radius: 5px;
    border-color:rgb(91, 38, 231);
    background-color: rgba(91, 38, 231, 0.5);
    text-align: center;
}
#nmr {
    border: solid;
    border-radius: 5px;
    border-color: rgb(147, 163, 28);
    background-color: rgb(147, 163, 28, 0.5);
    text-align: center;
}
#gn {
    border: solid;
    border-radius: 5px;
    border-color: rgb(27, 47, 111);
    background-color: rgba(27, 47, 111, 0.5);
    text-align: center;
}
#d {
    border: solid;
    border-radius: 5px;
    border-color: rgb(211, 211, 211);
    background-color:  rgb(211, 211, 211, 0.5);
    text-align: center;
}